/* Global Values */

:root {
    --primary: rgb(252, 252, 212);
    --secondary: rgb(10, 68, 61);
    --tertiary: #c3fcf2;
    --other: #649b92;
    --light-brown: #c3c39d;
    --dark-brown: #484838;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: 'poppins';
    background-color: var(--primary);
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    color: var(--secondary);
}


nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

nav a {
    padding: 5px;
    margin: 30px;
    color: var(--secondary);
    font-size: 25px;
}

/* Hero Section */

.landing {
    width: 100vw;
}

.landing-container {
    width: 60%;
    margin: auto;
}

.landing-container h1 {
    text-align: left;
}


/* Images block section */
.images {
    height: 100vh;
    width: 100vw;
}

.images-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    margin: auto;
    gap: 5px;
}


/* Box-A */
.flex-child-a {
    width: 49%;
    height: 70%;
    background-color: var(--secondary);
    transition: 0.3s;
}

.flex-child-a:hover {
    scale: 95%;
}

.flex-child-a h2 {
    text-align: right;
    background-color: var(--secondary);
    color: var(--primary);
    margin: 80px;
    padding: auto;
}

.flex-child-a h3 {
    text-align: right;
    background-color: var(--secondary);
    color: var(--tertiary);
    margin: 80px;
    padding: auto;
    opacity: 0;
}

.flex-child-a:hover h3 {
    opacity: 0.5;
    transition: 0.3s;
}

.flex-child-a h3:hover {
    opacity: 1;
}


/* Box B */

.flex-child-b {
    width: 50%;
    height: 70%;
    background-color: var(--tertiary);
    transition: 0.3s;
}

.flex-child-b:hover {
    scale: 95%;
}

.flex-child-b h2 {
    text-align: left;
    background-color: var(--tertiary);
    color: var(--secondary);
    margin: 80px;
    padding: auto;
}

.flex-child-b h3 {
    text-decoration: none;
    text-align: left;
    background-color: var(--tertiary);
    color: var(--dark-brown);
    margin: 80px;
    padding: auto;
    opacity: 0;

}

.flex-child-b:hover h3 {
    opacity: 0.5;
    transition: 0.3s;
}

.flex-child-b h3:hover {
    opacity: 1;
}


/* box c */

.flex-child-c {
    width: 99.5%;
    height: 30%;
    background-color: var(--dark-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.flex-child-c:hover {
    scale: 95%;
}

.flex-child-c h2 {
    background-color: var(--dark-brown);
    color: var(--primary);
    opacity: 0.5;
    transition: 0.3s;
}

.flex-child-c h2:hover {
    opacity: 1;
    scale: 105%;
}

.flex-child-c a {
    background-color: var(--dark-brown);
}