/* Global Values */

:root {
    --primary: rgb(252, 252, 212);
    --secondary: rgb(10, 68, 61);
    --tertiary: #c3fcf2;
    --other: #649b92;
    --light-brown: #c3c39d;
    --dark-brown: #484838;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
}

h1 {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 50px;
}


/* Section Sizing */
.gallery {
    height: 80vh;
    width: 100vw;
}


/* Flex Container */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 100%;
}

/* Flex Items */
.container div {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    width: 30%;
    border: solid 4px var(--secondary);
    border-radius: 2%;
}

.container div div {
    background-color: var(--dark-brown);
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0%;
    border: none;
    height: 30%;
}